<%=stylesheet_link_tag :all%>

<center>
<div class="err_msg" s>
<% if flash[:notice]%>
<%=flash[:notice]%>
<%end%>
</div>
<div class="signin-box" style="width:400px;background-size:420px 220px" >
<div id="div2" style="color:Darkblue;font-size:13px;font-family:monospace">password setting</div>
</br>
<% form_for :chpwd  do |f|%>
<table >
	<tr>
		<td class="des_right" nowrap>Old password</td>
		<td class="des_left" style="font-size:50%">:<%=password_field_tag "oldpassword","",:size=>15%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>New Password</td>
		<td class="des_left" style="font-size:50%">:<%=password_field_tag "newpassword","",:size=>15%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Confirm new Password </td>
		<td class="des_left" style="font-size:50%">:<%=password_field_tag "cnewpassword","",:size=>15%></td>
	</tr>

	<tr>
		<td colspan="2"><br/><center><%=f.submit "save password",:class=>"g-button-submit"%></center></td>
	</tr>
</table>
<%end%>
</div>
</center>

