	<%= javascript_include_tag :defaults %>
<%= f.error_messages %>
<center>
<table style="color:white;background-color:darkorange;-webkit-border-radius:10px">
<tr>
	<td><%=f.label :album_name%></td>
	<td><%=f.text_field :album_name%></td>
</tr>
<tr><td colspan="2" style="background-color:blue "></td></tr>
<tr>
	<td><%=f.label :album_description%></td>
	<td><%=f.text_field :album_description%></td>
</tr>
</table>
</center>
<div id="photos">
<%render :partial=>"photo", :collection=>@album.photos%>
</div>
<br/>
<div>
<%=button_to_function "Add photo" do |page|
page.insert_html :bottom, :photos ,:partial=>"photo", :object=>Photo.new
end%>
</div>
